.analysis{
    padding-left: 3vw;
    padding-right: 3vw;
}

.cardcont{
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-around;
}
.analysiscard{
    position: relative;
    width: 264px;
    min-width: 264px;
    height: 154px;
    border: 1px solid white;
    border-radius: 8px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 1);
}
.analysislog{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    margin-bottom: 130px;
}
.dollar{
    position: absolute;
    top: 7px;
    left: 7px;
    height: 32px;
}
.cash{
    position: absolute;
    top: 40px;
    right: 14px;
    font-size: 44px;
    color: #00D1FF;
}
.cardname{
    position: absolute;
    bottom: 10px;
    right: 24px;
    font-size: 22px;
    color: #00D1FF;
}
.pasttrades{
    width: 552px;
    height: 510px;
    border: 1px solid white;
    border-radius: 4px;
    padding: 15px;
}
.contname{
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
}
.contname2{
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
}
.logdetails{
    width: 100%;
    height: 34px;
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 4px;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.logdetails:hover{
    background-color: black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.15s;
}
.date{
    width: 110px;
    padding: 5px;
}
.pastpair{
    width: 96px;
}
.pastposition{
    width: 72px;
}
.takeprofit{
    width: 96px;
}
.stoploss{
    width: 83px;
}
.profit{
    width: 96px;
}
.rankcont{
    width: 552px;
    height: 510px;
    border: 1px solid white;
    border-radius: 4px;
    padding: 15px;
}
.ranksec{
    width: 95%;
    margin: auto;
    height: 455px;
    padding: 5px;
    background-color: white;
    color: black;
    border-radius: 4px;
}
.rankdet{
    display: flex;
    height: 34px;
    width: 95%;
    margin: auto;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.rankdet:hover{
    background-color: black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.15s;
}
.rankno{
    width: 28px;
    font-size: 14px;
    text-align: center;
}
.name{
    width: 142px;
    font-size: 12px;
    text-align: center;
}
.tradesnums{
    width: 103px;
    font-size: 12px;
    text-align: center;
}
.winrate{
    width: 105px;
    font-size: 12px;
    text-align: center;
}
.capital{
    width: 85px;
    font-size: 14px;
    text-align: center;
}

@media(max-width:1280px){
    .analysiscard{
        width: 290px;
        min-width: 200px;
    }
    .pasttrades{
        width: 490px;
    }
    .rankcont{
        width: 490px;
    }
}

@media(max-width:1024px){
    .cardcont{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
        row-gap: 15px;
        margin-top: 20px;
        margin-bottom: 50px;
        justify-content: center; /* Center horizontally */
        align-items: center; 
    }
    .analysiscard{
        margin: auto;
    }
    .analysislog{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        margin-bottom: 130px;
    }
    .pasttrades{
        width: 552px;
        margin: auto;
        margin-bottom: 50px;
    }
    .rankcont{
        width: 552px;
        margin: auto;
    }
}
@media(max-width:600px){
    .analysiscard{
        width: 200px;
        min-width: 200px;
        height: 130px;
    }
    .cash{
        font-size: 38px;
    }
    .cardname{
        font-size: 12px;
    }
    .pasttrades{
        width: 450px;
        margin: auto;
        margin-bottom: 50px;
    }
    .rankcont{
        width: 450px;
        margin: auto;
    }
}
@media(max-width:430px){
    .analysis{
        padding-left: 5px;
        padding-right: 5px;
    }
    .cardcont{
        display: grid;
        grid-template-columns: 1fr ;
    }
    .pasttrades{
        width: 360px;
        margin: auto;
        margin-bottom: 50px;
        border: none;
    }
    .logdetails{
        height: 56px;
    }
    .rankcont{
        width: 360px;
        margin: auto;
        border: none;
    }
    .rankdet{
        width: 98%;
        height: 56px;
    }
}
@media(max-width:375px){
    .pasttrades{
        width: 320px;
        margin: auto;
        margin-bottom: 50px;
        border: none;
    }
    .rankcont{
        width: 320px;
        margin: auto;
        border: none;
    }


}