.banner{
    width: 100vw;
}
.image{
    position: relative;
}
.txtsect{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 3vw;
    padding-right: 3vw;
}
.p1{
    width: 50vw;
    display: flex;
    font-size: 44px;
    font-weight: bold;
    margin-top: 100px;
}
.p2{
    width: 50vw;
    display: flex;
    text-align: justify;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
}
.p3{
    display: flex;
    font-size: 14px;
}
.rating{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.rating div{
    margin-right: 10px;
}
span{
    height: 24px;
    width: 2px;
    font-weight: bold;
    margin-right: 10px;
}
.recommend{
    margin-top: 30px;
}
.lily{
    display: flex;
    align-items: center;
}
.lily img{
    margin-right: 10px;
}
.b1{
    position: relative;
    width: 220px;
    height:40px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    background: linear-gradient(270deg, rgba(117,205,255,1) 0%, rgba(117,205,255,1) 42%, rgba(0,163,255,1) 76%);
    border: none; 
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
.b1:after {
    content: "";
    background: white;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.9s
}
.b1:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
.cardssect{
    padding-left: 3vw;
    padding-right: 3vw;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.card{
    width: 360px;
    height: 464px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers vertically */
    align-items: center;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}
.card:hover .cardbg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}
.card:hover .cardbg2 {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}
/* .card:hover .p4{
    color: white;
} */
.cardbg {
    height: 128px;
    width: 128px;
    background: linear-gradient(270deg, rgba(117,205,255,1) 0%, rgba(117,205,255,1) 42%, rgba(0,163,255,1) 76%);
    z-index: 1;
    position: absolute;
    bottom: -75px;
    left: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.cardbg2 {
    height: 64px;
    width: 64px;
    background-color: gold;
    z-index: 1;
    position: absolute;
    bottom: -35px;
    left: -35px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.imgslot{
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.cardimg{
    width: 339px;
    height: 360px;
}
.p4{
    color: black;
    text-align: center;
    z-index: 1;
}
.practice{
    /* padding-left: 3vw;
    padding-right: 3vw; */
    margin-top: 100px;
    margin-bottom: -4px;
    /* background-image: url('../assets/practice.png'); */
}
.practice2{
    position: relative;
}
.banner3{
    width: 100vw;
}
.card2{
    position: absolute;
    top: 25%;
    left: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    height: 300px;
    padding: 35px;
    color: black;

    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

    backdrop-filter: blur(15px);
}
.p5{
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}
.p6{
    text-align: center;
}