.market{
    padding-left: 3vw;
    padding-right: 3vw;
}
.chartsec{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}
.btns{
    padding: 10px;
}
.btns img{
    margin-right: 10px;
}
.fxlist{
    width: 185px;
    height: 750px;
    background-color: black;
    border: 1px solid white;
    color: white;
    border-radius: 8px;
}
.bm{
    width: 106px;
    margin: auto;
    font-size: 18px;
    color: white;
}
.pairscont{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.fxs{
    font-size: 12px;
    width: 140px;
    height: 30px;
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    border-radius: 8px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-around;
}
.fxs:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    cursor: pointer;
}
.slash{
    line-height: 24px;
}
.chart{
    width: 1120px;
    min-width: 500px;
    height: 750px;
    background-color: rgb(255, 255, 255);
    margin-left: 15px;
    border-radius: 4px;
    overflow: hidden;
}
.instructions{
    color: black;
    text-align: center;
}
.robosec{
    width: 400px;
    margin: auto;
    margin-top: 100px;
}
.robot{
    height: 400px;
    animation: bounceAnimation 0.5s infinite alternate;
}
.copy{
    height: 14px;
    cursor: pointer;
}
@keyframes bounceAnimation {
    0% {
        transform: translateY(10px); /* Start position */
    }
    100% {
        transform: translateY(-30px); /* End position (adjust the value as needed) */
    }
}
.buynsell{
    width: 420px;
    height: 717px;
    margin-left: 15px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 8px;
}
.buysec{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;
}
.buy{
    width: 135px;
    text-align: center;
    padding: auto;
    background-color: #00D1FF;
    border-radius: 8px;
    border: 1px solid white;
    color: white;
    font-size: 16px;
    transition: transform 0.3s;
}
.buy:hover {
    cursor: pointer;
    border: 1px solid  #00d1ff;
    background-color:  white;
    color: #00d1ff;
    transition: 0.15s;
}
.buy:active{
    transform: scale(0.7);
}
.sell{
    width: 135px;
    text-align: center;
    background-color: #FF5353;
    border-radius: 8px;
    color: white;
    border: 1px solid white;
    font-size: 16px;
    transition: transform 0.3s;
}
.sell:hover {
    cursor: pointer;
    border: 1px solid  #FF5353;
    background-color:  white;
    color: #FF5353;
    transition: 0.15s;
}
.sell:active{
    transform: scale(0.7);
}
.lotinput{
    width: 110px;
    line-height: 24px;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
}
.mpstoploss{
    display: flex;
    align-items: baseline;
}
.mpstoploss input{
    width: 100%;
    height: 24px;
    margin-top: 10px;
    text-align: center;
}
.mplabel{
    width: 50%;
    text-align: center;
}
.ordersec{
    margin-top: 25px;
}
.p9{
    text-align: center;
}
hr{
    margin-top: 15px;
    height: 1px;
    background-color: white;
}
.orderprice{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.buyat{
    width: 30%;
    height: 30px;
    background-color: #00D1FF;
    border-radius: 8px;
    border: 1px solid white;
    color: white;
    font-size: 16px;
}
.buyat:hover {
    cursor: pointer;
    border: 1px solid  #00d1ff;
    background-color:  white;
    color: #00d1ff;
    transition: 0.15s;
}
.orderinput{
    width: 50%;
    text-align: center;
}
.sellat{
    width: 30%;
    height: 30px;
    background-color: #FF5353;
    border-radius: 8px;
    color: white;
    border: 1px solid white;
    font-size: 16px;
}
.sellat:hover {
    cursor: pointer;
    border: 1px solid  #FF5353;
    background-color:  white;
    color: #FF5353;
    transition: 0.15s;
}
.mytrades{
    margin-top: 15px;
    margin-bottom: 50px;
    display: flex;
}
.tradelog{
    width: 600px;
    height: 400px;
    border-radius: 8px;
    border: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
}
.tradebtns{
    display: flex;
    width: 600px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.tradebtn1{
    width: 100%;
    height: 30px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: white;
    font-size: 14px;
    cursor: pointer;
}
.trade1{
    display: flex;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.tab1{
    position: relative;
    height: 350px;
    overflow-y: auto;
}
.edittrade{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 15%;
    z-index: 11;
    width: 400px;
    height: 280px;
    padding: 10px;
    background-color: rgb(16, 16, 16, 0.9);
    border-radius: 8px;
    border: 2px solid white;
}
.edittrade.visible{
    display: flex;
}
.edittrade label{
    margin-top: 5px;
}
.edittrade input{
    height: 24px;
    outline: none;
    margin-top: 5px;
}
.edittrade button{
    margin-top: 5px;
    height: 34px;
    width: 30%;
    margin: auto;
    transition: transform 0.3s;
    cursor: pointer;
    background: linear-gradient(270deg, rgba(117,205,255,1) 0%, rgba(117,205,255,1) 42%, rgba(0,163,255,1) 76%);
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}
.edittrade button:active{
    transform: scale(0.7);
}
.entryslot{
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}
.dots{
    height: 24px;
    width: 10px;
}
.dots:hover {
    cursor: pointer;
}
.cross{
    height: 24px;
    width: 24px;
}
.cross:hover {
    cursor: pointer;
    background-color: #FF5353;
}
.crossed {
    display: flex;
    justify-content: flex-end;
}
.currency{
    width: 96px;
    line-height: 24px;
    text-align: center;
}
.position{
    width: 58px;
    line-height: 24px;
    text-align: center;
    color: #00d1ff;
}
.position2{
    width: 58px;
    line-height: 24px;
    text-align: center;
    color: #FF5353;
}
.tp{
    width: 97px;
    line-height: 24px;
    text-align: center;
}
.sl{
    width: 97px;
    line-height: 24px;
    text-align: center;
}
.lot{
    width: 76px;
    line-height: 24px;
    text-align: center;
}
.pnl{
    width: 140px;
    line-height: 24px;
    text-align: center;
    color: #00d1ff;
}
.pnl2{
    width: 140px;
    line-height: 24px;
    text-align: center;
    color: rgb(255, 28, 28);
}
.message1{
    text-align: center;
    font-weight: bold;
}
.heatmap{
    overflow: hidden;
    width: 600px;
    height: 400px;
    margin-left: 15px;
}
.heatmap p{
    font-size: 10px;
}
.calendar{
    overflow: hidden;
    width: 500px;
    height: 400px;
    margin-left: 15px;
}
.calendar p{
    font-size: 10px;
}
.refresh{
    font-size: 10px;
}
.tview{
    display: flex;   
}
.tradeslot1{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    overflow-y: auto;
    height: 420px;
}
.slot5cont{
    width: 99%;
    display: flex;
    height: 24px;
    margin-top: 5px;
    align-items: center;
    border-radius: 4px;
}
.slot5{
    width: 25%;
    padding: 5px;
}
.slotbuy{
    width: 25%;
    padding: 5px;
    color: #00D1FF;
}
.slotsell{
    width: 25%;
    padding: 5px;
    color: #FF5353;
}
.white{
    color: white;
}
.slot6{
    width: 25%;
    padding: 5px;
    font-size: 12px;
}
.slot5cont:hover{
    cursor: pointer;
    background-color: rgb(109, 109, 109);
}

.walletcont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 24px;
    height: 34px;
}
.coin{
    height: 24px;
    background-color: white;
    border-radius: 12px;
    margin-right: 10px;
}
@media(max-width:1280px){
    .mytrades{
        display: flex;
        flex-direction: column;
    }
    .tradelog{
        margin: auto;
    }
    .tview{
        display: flex;   
    }

}
@media(max-width:1200px){
    .market{
        padding-left: 10px;
        padding-right: 10px;
    }
    .chartsec{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }
    .pairscont {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        padding: 10px;
        column-gap: 5px;
        row-gap: 5px;
    }
    .fxlist{
        width: 90vw;
        margin: auto;
        height: auto;
        margin-bottom: 10px;
    }
    .fxs {
        flex-basis: calc(33.333% - 10px); /* Adjust as needed */
        margin-bottom: 5px; /* Adjust as needed */
    }
    .chart{
        width: 90vw;
        margin: auto;
    }
    .buynsell{
        width: 420px;
        margin: auto;
        margin-top: 10px;
    }
    .mytrades{
        display: flex;
        flex-direction: column;
    }
    .heatmap{
        overflow: hidden;
        width: 90vw;
        max-width: 600px;
        height: 400px;
        margin: auto;
        margin-bottom: 20px;
    }
    .calendar{
        overflow: hidden;
        width: 90vw;
        max-width: 500px;
        height: 400px;
        margin: auto;
    }
    .tradelog{
        margin: auto;
        margin-bottom: 20px;
    }

}
@media(max-width:1024px){
    .market{
        padding-left: 10px;
        padding-right: 10px;
    }
    .chartsec{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }
    .pairscont {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        padding: 10px;
        column-gap: 5px;
        row-gap: 5px;
    }
    .fxlist{
        width: 90vw;
        margin: auto;
        height: auto;
        margin-bottom: 10px;
    }
    .tview{
        display: flex;
        flex-direction: column;  
    }

}
@media(max-width:670px){
    .chartsec{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }
    .pairscont {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 5px;
        column-gap: 5px;
        row-gap: 5px;
    }
    .chart{
        width: 90vw;
        min-width: 400px;
        margin: auto;
    }
    .tradelog{
        width: 90vw;
        max-width: 600px;
        margin: auto;
        margin-bottom: 20px;
    }
    .tradebtns{
        width: 90vw;
    }
}
@media(max-width:412px){
    .market{
        padding-left: 5px;
        padding-right: 5px;
    }
    .pairscont {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 5px;
        column-gap: 5px;
        row-gap: 5px;
    }
    .chart{
        min-width: 400px;
        margin: auto;
    }
    .buynsell{
        width: 400px;
        margin-left: 0px;
        padding: 0px;
    }
    .buy{
        width: 30%;
    }
    .sell{
        width: 30%;
    }
}