.market{
    padding-left: 3vw;
    padding-right: 3vw;
}
.chartsec{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}
.btns{
    padding: 10px;
}
.btns img{
    margin-right: 10px;
}
.fxlist{
    width: 185px;
    height: 750px;
    background-color: black;
    border: 1px solid white;
    color: white;
    border-radius: 8px;
}
.bm{
    width: 106px;
    margin: auto;
    font-size: 18px;
    color: white;
}
.pairscont{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.fxs{
    font-size: 12px;
    width: 140px;
    height: 30px;
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    border-radius: 8px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-around;
}
.fxs:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    cursor: pointer;
}
.slash{
    line-height: 24px;
}
.chart{
    width: 1120px;
    height: 750px;
    background-color: rgb(255, 255, 255);
    margin-left: 15px;
    border-radius: 4px;
    overflow: hidden;
}
.instructions{
    color: black;
    text-align: center;
}
.buynsell{
    width: 420px;
    height: 717px;
    margin-left: 15px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 8px;
}
.buysec{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;
}
.buy{
    width: 135px;
    text-align: center;
    padding: auto;
    background-color: #00D1FF;
    border-radius: 8px;
    border: 1px solid white;
    color: white;
    font-size: 16px;
}
.buy:hover {
    cursor: pointer;
    border: 1px solid  #00d1ff;
    background-color:  white;
    color: #00d1ff;
    transition: 0.15s;
}
.sell{
    width: 135px;
    text-align: center;
    background-color: #FF5353;
    border-radius: 8px;
    color: white;
    border: 1px solid white;
    font-size: 16px;
}
.sell:hover {
    cursor: pointer;
    border: 1px solid  #FF5353;
    background-color:  white;
    color: #FF5353;
    transition: 0.15s;
}
.lotinput{
    width: 110px;
    line-height: 24px;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
}
.mpstoploss{
    display: flex;
    align-items: baseline;
}
.mpstoploss input{
    width: 100%;
    height: 24px;
    margin-top: 10px;
    text-align: center;
}
.mplabel{
    width: 50%;
    text-align: center;
}
.ordersec{
    margin-top: 25px;
}
.p9{
    text-align: center;
}
hr{
    margin-top: 15px;
    height: 1px;
    background-color: white;
}
.orderprice{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.buyat{
    width: 30%;
    height: 30px;
    background-color: #00D1FF;
    border-radius: 8px;
    border: 1px solid white;
    color: white;
    font-size: 16px;
}
.buyat:hover {
    cursor: pointer;
    border: 1px solid  #00d1ff;
    background-color:  white;
    color: #00d1ff;
    transition: 0.15s;
}
.orderinput{
    width: 50%;
    text-align: center;
}
.sellat{
    width: 30%;
    height: 30px;
    background-color: #FF5353;
    border-radius: 8px;
    color: white;
    border: 1px solid white;
    font-size: 16px;
}
.sellat:hover {
    cursor: pointer;
    border: 1px solid  #FF5353;
    background-color:  white;
    color: #FF5353;
    transition: 0.15s;
}
.mytrades{
    margin-top: 15px;
    margin-bottom: 50px;
    display: flex;
}
.tradelog{
    width: 600px;
    height: 400px;
    border-radius: 8px;
    border: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
}
.tradebtns{
    display: flex;
    width: 600px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.tradebtn1{
    width: 50%;
    height: 30px;
    border-top-left-radius: 8px;
    background-color: white;
    font-size: 14px;
}
.tradebtn2{
    width: 50%;
    height: 30px;
    border-top-right-radius: 8px;
    background-color: white;
    font-size: 14px;
}
.trade1{
    display: flex;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.dots{
    height: 24px;
    width: 10px;
}
.dots:hover {
    cursor: pointer;
}
.cross{
    height: 24px;
    width: 24px;
}
.cross:hover {
    cursor: pointer;
    background-color: #FF5353;
}
.currency{
    width: 96px;
    line-height: 24px;
    text-align: center;
}
.position{
    width: 58px;
    line-height: 24px;
    text-align: center;
    color: #00d1ff;
}
.tp{
    width: 97px;
    line-height: 24px;
    text-align: center;
}
.sl{
    width: 97px;
    line-height: 24px;
    text-align: center;
}
.lot{
    width: 76px;
    line-height: 24px;
    text-align: center;
}
.pnl{
    width: 140px;
    line-height: 24px;
    text-align: center;
}
.heatmap{
    overflow: hidden;
    width: 600px;
    height: 400px;
    margin-left: 15px;
}
.heatmap p{
    font-size: 10px;
}
.calendar{
    overflow: hidden;
    width: 500px;
    height: 400px;
    margin-left: 15px;
}
.calendar p{
    font-size: 10px;
}